// Colors
$primary-color: hsl(259, 100%, 65%);
$warning-color: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Font
$font-family: "Poppins", sans-serif;

$weight-normal: 400;
$weight-bold: 700;
$weight-extra-bold: 800;

// media query

$mobile: 375px;
$desktop: 1440px;
